


<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Identify Genre</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item routerLink="" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>


			</mat-list-item>
      <mat-list-item routerLink="/train" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Train Algorithm</span>
				<mat-icon mat-list-icon>queue_music</mat-icon>


			</mat-list-item>


      <mat-list-item routerLink="/identify" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Identify Music Genre</span>
				<mat-icon mat-list-icon>music_note</mat-icon>


			</mat-list-item>

		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

  <mat-spinner *ngIf="loader"></mat-spinner>

	<mat-grid-list  cols="1" rowHeight="2:1.2">
    <mat-grid-tile>
      <mat-card *ngIf="!loader" class="card">

        <mat-form-field appearance="fill">
          <mat-label>Select Sample To Identify Genre</mat-label>
          <mat-select [formControl]="audioControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let sample of samples" [value]="sample.id">
              {{sample.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="audioControl.hasError('required')">Please choose an sample</mat-error>

        </mat-form-field>
        <br>
          <button mat-raised-button class="sub" (click)="identifyGenre()" color="primary">Submit</button>

      </mat-card>


    </mat-grid-tile>

  </mat-grid-list>




</mat-sidenav-container>

<router-outlet></router-outlet>




